<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RatTracker_WPF.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <RatTracker_WPF.Properties.Settings>
            <setting name="EDPath" serializeAs="String">
                <value>G:\Frontier\EDLaunch\</value>
            </setting>
            <setting name="NetLogPath" serializeAs="String">
                <value>G:\Frontier\EDLaunch\Products\elite-dangerous-64\Logs</value>
            </setting>
            <setting name="APIUsername" serializeAs="String">
                <value>mecha@squeak.net</value>
            </setting>
            <setting name="APIPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="SetupComplete" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="APIURL" serializeAs="String">
                <value>http://dev.api.fuelrats.com/</value>
            </setting>
            <setting name="EnableTTS" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="APIPort" serializeAs="String">
                <value>80</value>
            </setting>
        </RatTracker_WPF.Properties.Settings>
    </userSettings>
</configuration>