<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="RatTracker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="RatTracker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
      <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    </configSections>
  <log4net>
    <root>
      <level value="ALL" />
      <appender-ref ref="MyAppender" />
      <appender-ref ref="RollingFileAppender" />
    </root>
    <appender name="MyAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %level %logger - %message%newline" />
      </layout>
    </appender>
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file type="log4net.Util.PatternString" value="%envFolderPath{MyDocuments}\RatTracker\RatTracker.log" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="5" />
      <maximumFileSize value="10MB" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %level %logger - %message%newline" />
      </layout>
    </appender>
  </log4net>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="SuperSocket.ClientEngine" publicKeyToken="ee9af13f57f00acc" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.8.0.14" newVersion="0.8.0.14" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <RatTracker.Properties.Settings>
      <setting name="ApiUrl" serializeAs="String">
        <value>https://dev.api.fuelrats.com/</value>
      </setting>
      <setting name="ApiPort" serializeAs="String">
        <value>443</value>
      </setting>
      <setting name="OAuthToken" serializeAs="String">
        <value />
      </setting>
      <setting name="WebsiteUrl" serializeAs="String">
        <value>https://dev.fuelrats.com/</value>
      </setting>
      <setting name="WebSitePort" serializeAs="String">
        <value>443</value>
      </setting>
      <setting name="OverlayMonitor" serializeAs="String">
        <value />
      </setting>
      <setting name="LauncherDirectory" serializeAs="String">
        <value>C:\Program Files (x86)\Frontier\</value>
      </setting>
      <setting name="LogDirectory" serializeAs="String">
        <value>C:\Program Files (x86)\Frontier\Products\elite-dangerous-64\Logs</value>
      </setting>
      <setting name="JumpRange" serializeAs="String">
        <value>30</value>
      </setting>
      <setting name="JournalDirectory" serializeAs="String">
        <value />
      </setting>
      <setting name="WindowPlacement" serializeAs="String">
        <value />
      </setting>
    </RatTracker.Properties.Settings>
  </userSettings>
  <applicationSettings>
    <RatTracker.Properties.Settings>
      <setting name="OAuthClientId" serializeAs="String">
        <value>76ad04f7-c19c-44ef-afd6-4493e3064c39</value>
      </setting>
      <setting name="OAuthAppSecret" serializeAs="String">
        <value>ed0ed4a3a03184d8cc0e47203ee43f3da350b79710a0174a</value>
      </setting>
    </RatTracker.Properties.Settings>
  </applicationSettings>
</configuration>