<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="RatTracker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="RatTracker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="SuperSocket.ClientEngine" publicKeyToken="ee9af13f57f00acc" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.8.0.14" newVersion="0.8.0.14" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <RatTracker.Properties.Settings>
      <setting name="ApiUrl" serializeAs="String">
        <value>https://dev.api.fuelrats.com/</value>
      </setting>
      <setting name="ApiPort" serializeAs="String">
        <value>443</value>
      </setting>
      <setting name="OAuthToken" serializeAs="String">
        <value />
      </setting>
      <setting name="ApiUserEmail" serializeAs="String">
        <value />
      </setting>
      <setting name="WebsiteUrl" serializeAs="String">
        <value>https://beta.fuelrats.com/</value>
      </setting>
      <setting name="WebSitePort" serializeAs="String">
        <value>443</value>
      </setting>
    </RatTracker.Properties.Settings>
  </userSettings>
  <applicationSettings>
    <RatTracker.Properties.Settings>
      <setting name="OAuthClientId" serializeAs="String">
        <value>68dee8f2-d0e9-4377-a374-b98cd2d21b94</value>
      </setting>
      <setting name="OAuthAppSecret" serializeAs="String">
        <value>ed0ed4a3a03184d8cc0e47203ee43f3da350b79710a0174a</value>
      </setting>
    </RatTracker.Properties.Settings>
  </applicationSettings>
<system.data>
		<DbProviderFactories>
			<remove invariant="FirebirdSql.Data.FirebirdClient" />
			<add name="FirebirdClient Data Provider" invariant="FirebirdSql.Data.FirebirdClient" description=".NET Framework Data Provider for Firebird" type="FirebirdSql.Data.FirebirdClient.FirebirdClientFactory, FirebirdSql.Data.FirebirdClient" />
		</DbProviderFactories>
	</system.data></configuration>